{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('PointBar site admin') }}{% endblock %}

{% block branding %}

<h1 style="display:inline;">PointBar Admin Site</h1>
<h1 id="site-name" style="display:inline; right: 0; top: 0"> 
    <a href="{% url 'admin:index' %}">
        <img src="https://i.ibb.co/MgPjdnC/logo.png" height="80px"/>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

